@import '../../../assets/scss/base/shared';

.wrap {
  text-align: left;
  width: pxToRem(384);

  a {
    color: $colorWhite;
  }

  @media only screen and (max-width: $breakpointPhone) {
    width: 100%;
  }
}

.title {
  font-weight: $semiBold;
  font-size: pxToRem(32);
  margin: 0;
}

.content {
  margin: $gapM 0 $gapXL;

  b {
    font-weight: $semiBold;
  }
}


.buttons {
  display: flex;
  flex-direction: column;
  gap: $gapXxs;
}


