@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-Regular/Goldplay-Regular.eot');
  src: url('../../fonts/Goldplay-Regular/Goldplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Goldplay-Regular/Goldplay-Regular.ttf') format('truetype'),
  url('../../fonts/Goldplay-Regular/Goldplay-Regular.woff') format('woff'),
  url('../../fonts/Goldplay-Regular/Goldplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-RegularIt/Goldplay-RegularIt.eot');
  src: url('../../fonts/Goldplay-RegularIt/Goldplay-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Goldplay-RegularIt/Goldplay-RegularIt.ttf') format('truetype'),
  url('../../fonts/Goldplay-RegularIt/Goldplay-RegularIt.woff') format('woff'),
  url('../../fonts/Goldplay-RegularIt/Goldplay-RegularIt.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-Black/Goldplay-Black.eot');
  src: url('../../fonts/Goldplay-Black/Goldplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Goldplay-Black/Goldplay-Black.ttf') format('truetype'),
  url('../../fonts/Goldplay-Black/Goldplay-Black.woff') format('woff'),
  url('../../fonts/Goldplay-Black/Goldplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-BlackIt/Goldplay-BlackIt.eot');
  src: url('../../fonts/Goldplay-BlackIt/Goldplay-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Goldplay-BlackIt/Goldplay-BlackIt.ttf') format('truetype'),
  url('../../fonts/Goldplay-BlackIt/Goldplay-BlackIt.woff') format('woff'),
  url('../../fonts/Goldplay-BlackIt/Goldplay-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-Bold/Goldplay-Bold.eot');
  src: url('../../fonts/Goldplay-Bold/Goldplay-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Goldplay-Bold/Goldplay-Bold.ttf') format('truetype'),
       url('../../fonts/Goldplay-Bold/Goldplay-Bold.woff') format('woff'),
       url('../../fonts/Goldplay-Bold/Goldplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-BoldIt/Goldplay-BoldIt.eot');
  src: url('../../fonts/Goldplay-BoldIt/Goldplay-BoldIt.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Goldplay-BoldIt/Goldplay-BoldIt.ttf') format('truetype'),
       url('../../fonts/Goldplay-BoldIt/Goldplay-BoldIt.woff') format('woff'),
       url('../../fonts/Goldplay-BoldIt/Goldplay-BoldIt.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-Light/Goldplay-Light.eot');
  src: url('../../fonts/Goldplay-Light/Goldplay-Light.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Goldplay-Light/Goldplay-Light.ttf') format('truetype'),
       url('../../fonts/Goldplay-Light/Goldplay-Light.woff') format('woff'),
       url('../../fonts/Goldplay-Light/Goldplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-SemiBold/Goldplay-SemiBold.eot');
  src: url('../../fonts/Goldplay-SemiBold/Goldplay-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Goldplay-SemiBold/Goldplay-SemiBold.ttf') format('truetype'),
  url('../../fonts/Goldplay-SemiBold/Goldplay-SemiBold.woff') format('woff'),
  url('../../fonts/Goldplay-SemiBold/Goldplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay-SemiBoldIt/Goldplay-SemiBoldIt.eot');
  src: url('../../fonts/Goldplay-SemiBoldIt/Goldplay-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Goldplay-SemiBoldIt/Goldplay-SemiBoldIt.ttf') format('truetype'),
  url('../../fonts/Goldplay-SemiBoldIt/Goldplay-SemiBoldIt.woff') format('woff'),
  url('../../fonts/Goldplay-SemiBoldIt/Goldplay-SemiBoldIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
