@import "../../../assets/scss/base/shared";
.item {
  background: $colorBackground;
  border-radius: 20px;
  padding: $gapXs $gapXs $gapXL $gapXs;
  font-size: $fontS;
}
.file {
  width: 100%;
  margin-bottom: $gapM;
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 232px;
  border-radius: 16px;
  display: flex;
}
.viewport {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img,
  video {
    border-radius: 16px;
    max-height: 100%;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: calc(-1 * $gapXs);
}

.title {
  font-size: $fontM;
  font-weight: 600;
  line-height: $fontM;
  margin-top: $gapXs;
}

.price {
  margin-top: $gapXs;
  text-align: right;
}

.divider {
  border: none;
  border-bottom: 1px solid $colorBorder;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 100%;
  margin: $gapXs 0;
}

.info {
}
.meta {
  margin-left: auto;
}
.profiles {
  display: flex;
  margin-top: $gapXs;
  grid-area: profiles;

  > .user {
    margin-right: -8px;

    &:first-of-type {
      margin-left: -2px;
    }
  }
}
.user {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $colorBackground;
}
.status {
  font-size: $fontXs;
  color: $colorGray;
  font-weight: 400;
}
