@import "assets/scss/abstracts/variables";

.wrapper {
  .upload-wrapper {
    .right {
      .upload-title {
        margin-top: 96px;
        font-size: $fontS;
        @media only screen and (max-width: $breakpointPhone) {
          margin-top: 0px;
        }
      }
      .drag-label {
        color: $colorGray;
        font-size: $fontXs;
        margin: 5px 0px 15px 0px;
      }
      .filetype {
        color: $colorGray;
        font-size: $fontXs;
        margin: 5px 0px 15px 0px;
        display: none;
        @media only screen and (max-width: $breakpointSmallPhone) {
          display: block;
        }
      }
      @media only screen and (max-width: $breakpointPhone) {
        min-width: 180px;
        margin-left: 20px;
      }
    }
    .dragwrapper {
      background-color: $colorBorder !important;
    }
    .upload {
      border-radius: 16px;
      background-color: $colorBackground;
      margin-bottom: 40px;
      width: 640px;
      height: 182px;
      .filepicker {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
      .file-label {
        margin-top: 12px;
        font-size: $fontXs;
        color: $colorGray;
        @media only screen and (max-width: $breakpointSmallPhone) {
          display: none;
        }
      }
      @media only screen and (max-width: $breakpointPhone) {
        width: 100%;
      }
      @media only screen and (max-width: $breakpointSmallPhone) {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
      }
    }
    @media only screen and (max-width: $breakpointPhone) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 16px;
    }
  }
  .long {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4px;
    @media only screen and (max-width: $breakpointPhone) {
      grid-template-columns: 1fr;
    }
  }
  .short {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $gapM;
    @media only screen and (max-width: $breakpointPhone) {
      grid-template-columns: 1fr;
    }
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .divider {
    height: 1px;
    background-color: $colorLightBorder;
    margin: 40px 0px;
    border: none;
  }
  .description {
    margin: 5px 0px 24px 0px;
    max-width: 544px;
    font-size: $fontXs;
    color: $colorGray;
    line-height: 20px;
  }
  .btns {
    margin-top: 40px;
    margin-bottom: 100px;
    .spinner {
      line-height: 8px;
      margin-left: $gapXs;
    }
    .nft-btn {
      margin-right: 40px;
      color: $textColor;
      .arrow {
        margin-left: 16px;
        height: 18px;
      }
    }
    @media only screen and (max-width: $breakpointSmallPhone) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      button {
        width: 200px;
        margin: 5px 0px !important;
      }
    }
  }
  .royalty {
    max-width: 352px;
  }
}
